.main_content {
    margin-left:20px;
    background-color: #FEFFFF;
    display:flex;
    height: 100%;
}


@media all and (max-width: 800px) {
    .main_content {
        flex-direction: column;
    }

}