.students_stats {
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #DEF2F1;
    padding: 10px;
    margin: 70px 20px 20px 40px;
    border: 1px solid #2B7A78;
    height: auto;
    transition: margin-left 0.3s;
}

.stud_id {
    text-align: center;
    font-size: 30px;
    margin: 15px;
}
.stud_blocks{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 15px;
}
* {
    font-family: 'Anonymous Pro', monospace;
}
.stud_info {
    background-color: #3AAFA9;
    line-height: 20px;
    overflow: hidden;
    width: 95%;
    height: 90%;
    align-self: center;
    justify-self: center;
    border: 1px solid #2B7A78;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
}
.stud_photo {
    border-radius: 40px;
    overflow:hidden;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    display:block;
    margin-right: auto;
}
.stud_phone{
    margin-bottom: 30px;
}