.header_schedule {
    display:flex;
    margin: 15px;
}

.header_schedule i{
    margin: 0 5px;
    font-size: 25px;
    color: #2B7A78;
}
.header_schedule i:hover{
    color: #17252A;
}
.schedule_date {
    width: 50%;
}
.schedule_week {
    display:flex;
    position: absolute;
    right: 30px;
}

.arrows {
    font-size: 10px;
}